# --- FASTAPI & SERVER ---
fastapi
uvicorn
python-multipart    
# --- SECURITY & DATABASE ---
bcrypt              
pyjwt
sqlalchemy 
psycopg2-binary 
python-dotenv

# --- RAG & AI ENGINE ---
langchain
langchain-core
langchain-community
llama-parse
langchain-google-genai
pinecone-client
langchain-pinecone
langchain-groq